---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Our Journey | Myrazine">
	<div class="relative bg-white py-16 sm:py-24">
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:gap-24 lg:items-start">
            <div class="relative sm:py-16 lg:py-0">
                <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
                    <div class="absolute inset-y-0 right-1/2 w-full bg-slate-50 rounded-r-3xl lg:right-72"></div>
                    <svg class="absolute top-8 left-1/2 -ml-3 lg:-right-8 lg:left-auto lg:top-12" width="404" height="392" fill="none" viewBox="0 0 404 392">
                        <defs>
                            <pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-slate-200" fill="currentColor" />
                            </pattern>
                        </defs>
                        <rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)" />
                    </svg>
                </div>
                <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-0 lg:max-w-none lg:py-20">
                    <!-- Testimonial card -->
                    <div class="relative pt-64 pb-10 rounded-2xl shadow-xl overflow-hidden">
                        <img class="absolute inset-0 h-full w-full object-cover" src="https://images.unsplash.com/photo-1707944746585-187b2f09b05a?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Lab Research">
                        <div class="absolute inset-0 bg-[#556b2f] mix-blend-multiply opacity-60"></div>
                        <div class="relative px-8">
                            <blockquote class="mt-8">
                                <div class="relative text-lg font-medium text-white md:grow">
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-0">
                <div class="pt-12 sm:pt-16 lg:pt-20">
                    <h2 class="text-3xl font-extrabold text-slate-900 tracking-tight sm:text-4xl font-serif">
                        Our Journey
                    </h2>
                    <div class="mt-6 text-slate-700 space-y-6 text-sm">
                        <p>
                            Myrazine LLCwas formed in 2015. However, our search for natural ingredients for the industry started in 2000. We started as an importer from China for our customers in the east coast of the United States. The company was first created in 1993 by a group of chemical and business professionals, Fielding Smith, Jerry Bertrand, Dr. Allen L Hall and Benjamin Cheng. Later, the company changed its name to Abioco, since it has been focusing on its search for bio-flavour materials from China's fermentation broth. With a group of researchers working in China, Benjamin Cheng established a biochemical lab in Hefei in 2002, starting his search for  EU natural ingredients. By working together with Dr. Allen Hall, Abioco spent five years (2002-2006) developing its proprietary process to fractionate ingredients from fermentation broth. 
                            In 2006, Dr. Allen Hall was diagnosed to have cancer and passed away in 2009. Benjamin continued the search and set up the company's pilot production in Hefei, Anhui China. On the New Years' Day of 2007, the process was finally completed. Our first batch of Pyrazine Mixtures was "fished out" with over 80% of purity. 
                            Hit by Asia financial crisis in 2007, the loss of his life time business partner---D. Hall, and some other personal mishaps, Benjamin went into the mountains in China, and traveled towards Tibet. Then he spent the next few years in his home town village and taught children English free of charge. 
                            In 2014, a company called and hired him as a consultant for their flavour material business unit in Shanghai. A year later, Benjamin formed his present business to continue its journey for Natual ingredients. 
                            With his new business partners now, Myrazine LLC has its distillation and fractionation facility in Anhui, China to produce natural pyrazine mixtures (over 80%) and other natural esters from Chinese fermentation "wastes". The company's high-end pyrazine production facility is located in Salt Lake City, Utah, where it fractionates about 12 individual natural pyrazines. All the materials are sourced from fermentation. 
                        </p>
                    </div>
                </div>

                <!-- TODO:Stats / Timeline-->
                <!-- <div class="mt-10 grid grid-cols-2 gap-x-4 gap-y-8">
                    <div class="border-t-2 border-[#556b2f] pt-6">
                        <dt class="text-base font-medium text-slate-500">Established</dt>
                        <dd class="text-3xl font-extrabold tracking-tight text-slate-900">2018</dd>
                    </div>
                    <div class="border-t-2 border-[#556b2f] pt-6">
                        <dt class="text-base font-medium text-slate-500">Patents</dt>
                        <dd class="text-3xl font-extrabold tracking-tight text-slate-900">12+</dd>
                    </div>
                    <div class="border-t-2 border-[#556b2f] pt-6">
                        <dt class="text-base font-medium text-slate-500">Production Capacity</dt>
                        <dd class="text-3xl font-extrabold tracking-tight text-slate-900">50MT</dd>
                    </div>
                    <div class="border-t-2 border-[#556b2f] pt-6">
                        <dt class="text-base font-medium text-slate-500">Countries Served</dt>
                        <dd class="text-3xl font-extrabold tracking-tight text-slate-900">25</dd>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</Layout>